/* 
 * Login form generation with a responsive character icon (Cony from LINE Friends)
 * ideas from 'Login Critter': https://github.com/cgoldsby/LoginCritter (Swift)
 *           'Ryan': https://github.com/taggon/ryan-login (JS, SVG)
 * **All copyrights pertaining to the image origin are reserved for NAVER Corp.(TM)
 * Jongoh (Andy) Jeong
 */

body {
    background: #00c300;
}

form {
    width: 320px;
    padding: 100px 30px 50px 30px; /* padding: top right bottom left */
    margin: 50px auto;
    background: #F19CBB;
    display: flex;
    flex-direction: column;
}

svg {
    width: 70%;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 40px;
    align-self: center;
    transform-style: preserve-3d;
}

input {
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 10px 15px;
    margin-top: 15px;
}

@keyframes lookaway-up {
    from {
        transform: rotate3d(.2, 0, -.01, 20deg);
    }

    to {
        transform: rotate3d(.2, -.05, -.01, 20deg);
    }
}

@keyframes lookaway-down {
    0% {
        transform: rotate3d(-.2, 0, -.01, 20deg);
    }

    100% {
        transform: rotate3d(-.2, -.05, .01, 20deg);
    }
}

@keyframes look-ear {
    from {
        transform: rotate3d(.2, 0, -.01, 0);
    }

    to {
        transform: rotate3d(.2, -.05, -.01, 0deg);
    }
}

.ears {
    transform-origin: 50% 50% 10px;
}

.eyes {
    transform-origin: 50% 50% -40px;
}

.muzzle {
    transform-origin: 50% 50% -44px;
}

.ears, .eyes, .muzzle {
    transition: transform .5s;
}

.focused {
    transition: transform .1s;
}

.look {
    transition-duration: .5s;
    animation: .3s infinite alternate;
}
.look .ears {
    /* animation-name: look-ear; */
    transform: rotate3d(.2, 0, 0, 50deg) !important;
}

.look-away.notLooking.down .muzzle {
    animation-name: lookaway-down;
}

.look-away .ears,
.look-away .eyes,
.look-away .muzzle {
    transition-duration: .3s;
    animation: 3s infinite alternate;
}

.look-away.up .ears,
.look-away.up .eyes,
.look-away.up .muzzle {
    transform: rotate3d(.2, 0, 0, 20deg) !important;
}

.look-away.down .ears,
.look-away.down .eyes,
.look-away.down .muzzle {
    transform: rotate3d(-.2, 0, 0, 20deg) !important;    
}

.look-away.notLooking.up .ears,
.look-away.notLooking.up .eyes,
.look-away.notLooking.up .muzzle {
    animation-name: lookaway-up;
}

.look-away.notLooking.down .ears,
.look-away.notLooking.down .eyes,
.look-away.notLooking.down .muzzle {
    animation-name: lookaway-down;
}
